@import "tailwindcss";

html, body, #__next { 
  height: 100%; 
}

* { 
  box-sizing: border-box; 
}

.logo-slot{ 
  padding: 16px 12px; 
  color: #fff; 
  font-weight: 600; 
  letter-spacing: .5px; 
}

.topbar{ 
  display:flex; 
  align-items:center; 
  justify-content:space-between; 
  padding: 0 16px; 
}

.title{ 
  font-weight: 600; 
}

.right{ 
  opacity: .7; 
}

.content{ 
  margin: 16px; 
  padding: 16px; 
  border-radius: 8px; 
}

.space-y-4 > * + * { 
  margin-top: 1rem; 
}
